.searchBtn::before {
  content: url('../../assets/img/search.png');
  position: absolute;
  width: 24px;
  height: 24px;
  left: 34px;
}
.darkWrapper {
  background-color: #191919;
}
.darkWrapper p {
  color: #C9AC8C;
 
}
.lightInput {
  color: #191919;
  background-color: #fff;
}